<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">Event Image</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-portlet__body-progress">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <div class="col-md-12">
      <img src="{{EventData.profile}}" style="width: 50%;height: 50%">
    <!-- </div>
    <div class="col-md-12"> -->
      <img src="{{EventData.patrika_formate}}" style="width: 50%;height: 50%">
    </div>
  </div>
</div>
