<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption" style="width: 100%">
      <div class="m-portlet__head-title" style="width: 100%">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">{{fund.event_name}} {{fund.place}} {{fund.start_datetime | date:'MM-dd-yyyy'}}</h3>
        <div class="text-right" style="position: absolute;right: 2%;">
          <button mat-raised-button (click)="ReceiptPrint()">Print</button>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-portlet__body-progress">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <m-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </m-alert>
    <div class="row">
      <div class="mat-table__wrapper" id="ReceiptPrint">
        <div class="col-md-12" *ngIf="DonationUserData != undefined" style="font-family: sans-serif;">
          <div class="margin-bottom"><b>Name:</b>&nbsp;<span>{{fund.first_name}} {{fund.last_name}}
              ({{fund.village_name}})</span><br></div>
          <div class="margin-bottom"><b>Phone No:</b>&nbsp;<span>{{fund.phone_no}}</span><br></div>
          <div class="margin-bottom"><b>Total Donation:</b>&nbsp;<span>{{fund.paid_amount | currency: 'INR' : 'symbol' : '1.0-0'}}</span><br></div>
          <div class="margin-bottom"><b>Status:</b>&nbsp;<span>{{fund.fund_status == '1' ? 'Completed': 'Remaining'}}</span></div>
        </div>
        <br>
        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc"
          matSortDisableClear style="min-width: 100%;">
      
          <ng-container matColumnDef="event_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.event_name}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="user_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.first_name}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="purpose">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.purpose}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="actual_amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actual Amount</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.actual_amount  | currency: 'INR' : 'symbol' : '1.0-0'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pay_amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Pay Amount</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.paid_installment  | currency: 'INR' : 'symbol' : '1.0-0'}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="paid_amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.paid_amount  | currency: 'INR' : 'symbol' : '1.0-0'}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="remaining_amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Remaining Amount</mat-header-cell>
            <mat-cell *matCellDef="let user" [className]="user.remaining_amount ? 'red':''">
              {{user.remaining_amount  | currency: 'INR' : 'symbol' : '1.0-0'}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="payment_by">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Payment By</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{getItemPayentByTypeString(user.paid_installment_status)}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="paid_end_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Date</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.paid_datetime | date: 'dd/MM/yyyy'}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{getItemStatusStering(user.status)}}
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        <!-- Message for empty data  -->
      </div>
    </div>
    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
        [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </div>
</div>