.active_message_user {
  background-color: whitesmoke;
}

.m-card-profile {
  cursor: pointer;
}

.m-card-profile .m-card-profile__details .m-card-profile__name {
  font-size: 1.2rem;
  padding-left: 5%;
}

.m-card-profile .m-card-profile__details {
  text-align: left;
}

.border {
  border: 1px solid #ccc;
  margin-bottom: 2%;
}